# Setting up Notebook

In [5]:
import pandas as pd
import numpy as np
import os
pd.options.display.max_columns = 100
pd.options.display.max_rows = 75
pd.set_option('display.max_colwidth', 0)

os.chdir('../1-data/')

## Import Data

In [6]:
application_train.shape

(307511, 122)

In [8]:
application_train = pd.read_csv('application_train.csv')
HomeCredit_columns_description = pd.read_excel('HomeCredit_columns_description.xlsx')

# previous_application = pd.read_csv('previous_application.csv')
# bureau = pd.read_csv('bureau.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'HomeCredit_columns_description.xlsx'

## First 60's Columns

In [4]:
HomeCredit_columns_description_application = HomeCredit_columns_description[HomeCredit_columns_description['Table'] == 'application_{train|test}.csv']
cols_yog = list(application_train.columns)[:60]
application_train = application_train[cols_yog]

NameError: name 'HomeCredit_columns_description' is not defined

## Inspect the missing values from all datasets

My goal is to understand how many rows that missing on each columns, and the description of each columns. Thus we will **have more confidence** filling the NaN values.

In [7]:
application_val_status = pd.DataFrame(application_train.isnull().sum() / application_train.shape[0]).reset_index()

temp = pd.DataFrame(application_train.isnull().sum().reset_index())

application_val_status = pd.merge(application_val_status, temp,on='index', how='inner')

application_val_status.columns = ['index', 'missing%', 'missing#']

application_val_status = pd.merge(application_val_status, HomeCredit_columns_description_application[['Row','Description']], left_on='index', right_on='Row').drop(['Row'],axis=1)

In [14]:
application_val_status.columns = ['Cols','Missing%','Missing#','Description']

In [15]:
application_val_status

,Cols,Missing%,Missing#,Description
0,SK_ID_CURR,0.000000,0,ID of loan in our sample
1,TARGET,0.000000,0,"Target variable (1 - client with payment difficulties: he/she had late payment more than X days on at least one of the first Y installments of the loan in our sample, 0 - all other cases)"
2,NAME_CONTRACT_TYPE,0.000000,0,Identification if loan is cash or revolving
3,CODE_GENDER,0.000000,0,Gender of the client
4,FLAG_OWN_CAR,0.000000,0,Flag if the client owns a car
5,FLAG_OWN_REALTY,0.000000,0,Flag if client owns a house or flat
6,CNT_CHILDREN,0.000000,0,Number of children the client has
7,AMT_INCOME_TOTAL,0.000000,0,Income of the client
8,AMT_CREDIT,0.000000,0,Credit amount of the loan
9,AMT_ANNUITY,0.000039,12,Loan annuity
10,AMT_GOODS_PRICE,0.000904,278,For consumer loans it is the price of the goods for which the loan is given
11,NAME_TYPE_SUITE,0.004201,1292,Who was accompanying client when he was applying for the loan
12,NAME_INCOME_TYPE,0.000000,0,"Clients income type (businessman, working, maternity leave,Ö)"
13,NAME_EDUCATION_TYPE,0.000000,0,Level of highest education the client achieved
14,NAME_FAMILY_STATUS,0.000000,0,Family status of the client
15,NAME_HOUSING_TYPE,0.000000,0,"What is the housing situation of the client (renting, living with parents, ...)"
16,REGION_POPULATION_RELATIVE,0.000000,0,Normalized population of region where client lives (higher number means the client lives in more populated region)
17,DAYS_BIRTH,0.000000,0,Client's age in days at the time of application
18,DAYS_EMPLOYED,0.000000,0,How many days before the application the person started current employment
19,DAYS_REGISTRATION,0.000000,0,How many days before the application did client change his registration
20,DAYS_ID_PUBLISH,0.000000,0,How many days before the application did client change the identity document with which he applied for the loan
21,OWN_CAR_AGE,0.659908,202929,Age of client's car
22,FLAG_MOBIL,0.000000,0,"Did client provide mobile phone (1=YES, 0=NO)"
23,FLAG_EMP_PHONE,0.000000,0,"Did client provide work phone (1=YES, 0=NO)"
24,FLAG_WORK_PHONE,0.000000,0,"Did client provide home phone (1=YES, 0=NO)"
25,FLAG_CONT_MOBILE,0.000000,0,"Was mobile phone reachable (1=YES, 0=NO)"
26,FLAG_PHONE,0.000000,0,"Did client provide home phone (1=YES, 0=NO)"
27,FLAG_EMAIL,0.000000,0,"Did client provide email (1=YES, 0=NO)"
28,OCCUPATION_TYPE,0.313455,96391,What kind of occupation does the client have
29,CNT_FAM_MEMBERS,0.000007,2,How many family members does client have
30,REGION_RATING_CLIENT,0.000000,0,"Our rating of the region where client lives (1,2,3)"
31,REGION_RATING_CLIENT_W_CITY,0.000000,0,"Our rating of the region where client lives with taking city into account (1,2,3)"
32,WEEKDAY_APPR_PROCESS_START,0.000000,0,On which day of the week did the client apply for the loan
33,HOUR_APPR_PROCESS_START,0.000000,0,Approximately at what hour did the client apply for the loan
34,REG_REGION_NOT_LIVE_REGION,0.000000,0,"Flag if client's permanent address does not match contact address (1=different, 0=same, at region level)"
35,REG_REGION_NOT_WORK_REGION,0.000000,0,"Flag if client's permanent address does not match work address (1=different, 0=same, at region level)"
36,LIVE_REGION_NOT_WORK_REGION,0.000000,0,"Flag if client's contact address does not match work address (1=different, 0=same, at region level)"
37,REG_CITY_NOT_LIVE_CITY,0.000000,0,"Flag if client's permanent address does not match contact address (1=different, 0=same, at city level)"
38,REG_CITY_NOT_WORK_CITY,0.000000,0,"Flag if client's permanent address does not match work address (1=different, 0=same, at city level)"
39,LIVE_CITY_NOT_WORK_CITY,0.000000,0,"Flag if client's contact address does not match work address (1=different, 0=same, at city level)"
40,ORGANIZATION_TYPE,0.000000,0,Type of organization where client works
41,EXT_SOURCE_1,0.563811,173378,Normalized score from external data source
42,EXT_SOURCE_2,0.002146,660,Normalized score from external data source
43,EXT_SOURCE_3,0.198253,60965,Normalized score from external data source
44,APARTMENTS_AVG,0.507497,156061,"Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor"
45,BASEMENTAREA_AVG,0.585160,179943,"Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor"
46,YEARS_BEGINEXPLUATATION_AVG,0.487810,150007,"Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor"
47,YEARS_BUILD_AVG,0.664978,204488,"Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor"
48,COMMONAREA_AVG,0.698723,214865,"Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor"
49,ELEVATORS_AVG,0.532960,163891,"Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor"
50,ENTRANCES_AVG,0.503488,154828,"Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor"
51,FLOORSMAX_AVG,0.497608,153020,"Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor"
52,FLOORSMIN_AVG,0.678486,208642,"Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor"
53,LANDAREA_AVG,0.593767,182590,"Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor"
54,LIVINGAPARTMENTS_AVG,0.683550,210199,"Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor"
55,LIVINGAREA_AVG,0.501933,154350,"Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor"
56,NONLIVINGAPARTMENTS_AVG,0.694330,213514,"Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor"
57,NONLIVINGAREA_AVG,0.551792,169682,"Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor"
58,APARTMENTS_MODE,0.507497,156061,"Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor"
59,BASEMENTAREA_MODE,0.585160,179943,"Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor"

## Point out the missing columns dtypes

In [22]:
missing_val_cols = list(application_val_status[application_val_status['Missing%']!=0].Cols)

In [26]:
# using this data we able to understand how many dtypes of columns that missing
# most of them is float and only two have object

application_train[missing_val_cols].dtypes.value_counts()

float64    23
object     2
dtype: int64

In [30]:
# and the categories columns have many values, let's figure out later how to impute those...

application_train[missing_val_cols].select_dtypes('object').apply(pd.Series.nunique, axis=0)

NAME_TYPE_SUITE    7
OCCUPATION_TYPE    18
dtype: int64

## Imputation

Personal rule: if the null value is less than 1% we better remove the respective rows. Otherwise we think for other reasonable strategy.

### Name Type Suite:

In [36]:
# it oly has 0.004201 or 1292 number of null value, let's drop that

application_train = application_train[application_train['NAME_TYPE_SUITE'].notnull()]

In [59]:
application_train['DAYS_BIRTH_BIN'] = pd.qcut(application_train['DAYS_BIRTH'], q=4, labels=[1,2,3,4])

/var/folders/hf/0mp7k_vd30z8kr8nkwwh037m0000gn/T/ipykernel_96708/509156518.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  application_train['DAYS_BIRTH_BIN'] = pd.qcut(application_train['DAYS_BIRTH'], q=4, labels=[1,2,3,4])

In [70]:
temp_null = application_train[application_train['OCCUPATION_TYPE'].isnull()].copy()

In [71]:
temp_null = temp_null[['SK_ID_CURR','NAME_FAMILY_STATUS','CODE_GENDER','DAYS_BIRTH_BIN','OCCUPATION_TYPE']]

In [73]:
temp_null = pd.merge(temp_null.drop(['OCCUPATION_TYPE'],axis=1),temp, how='left')

In [77]:
temp_notnull = application_train[application_train['OCCUPATION_TYPE'].notnull()].copy()

In [89]:
temp_notnull = temp_notnull[['SK_ID_CURR','NAME_FAMILY_STATUS','CODE_GENDER','DAYS_BIRTH_BIN','OCCUPATION_TYPE']]

In [94]:
temp_finale = pd.concat(
    [temp_notnull[['SK_ID_CURR','NAME_FAMILY_STATUS','CODE_GENDER','DAYS_BIRTH_BIN','OCCUPATION_TYPE']], temp_null], axis=0)

In [118]:
application_train.loc[:,'OCCUPATION_TYPE'] = list(temp_finale.loc[:, 'OCCUPATION_TYPE'])

/Users/yogi/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [119]:
application_train.loc[:,'OCCUPATION_TYPE']

0         Laborers
1         Core staff
2         Laborers
3         Laborers
4         Core staff
             ...
307506    Sales staff
307507    Laborers
307508    Managers
307509    Laborers
307510    Laborers
Name: OCCUPATION_TYPE, Length: 306219, dtype: object

['Laborers',
 'Core staff',
 'Laborers',
 'Laborers',
 'Core staff',
 'Laborers',
 'Accountants',
 'Managers',
 'Laborers',
 'Laborers',
 'Core staff',
 'Laborers',
 'Laborers',
 'Drivers',
 'Laborers',
 'Laborers',
 'Drivers',
 'Laborers',
 'Laborers',
 'Core staff',
 'Laborers',
 'Sales staff',
 'Sales staff',
 'Laborers',
 'Drivers',
 'Cleaning staff',
 'Cooking staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Private service staff',
 'Laborers',
 'Drivers',
 'Core staff',
 'Sales staff',
 'Private service staff',
 'Drivers',
 'Laborers',
 'Managers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Medicine staff',
 'Managers',
 'Laborers',
 'Core staff',
 'Managers',
 'Laborers',
 'Core staff',
 'Laborers',
 'Managers',
 'Laborers',
 'Security staff',
 'Laborers',
 'Managers',
 'Accountants',
 'Sales staff',
 'Laborers',
 'Sales staff',
 'Core staff',
 'Core staff',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Drivers',
 'Laborers',
 'Cooking staff',
 'Sales staff',
 'Laborers',
 'Core staff',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Drivers',
 'Laborers',
 'Managers',
 'High skill tech staff',
 'Laborers',
 'Laborers',
 'Waiters/barmen staff',
 'Managers',
 'Sales staff',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Low-skill Laborers',
 'Laborers',
 'Sales staff',
 'Core staff',
 'Laborers',
 'Medicine staff',
 'Core staff',
 'Low-skill Laborers',
 'Core staff',
 'Security staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Sales staff',
 'Realty agents',
 'Cleaning staff',
 'Core staff',
 'Secretaries',
 'Laborers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'High skill tech staff',
 'High skill tech staff',
 'Core staff',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Medicine staff',
 'Low-skill Laborers',
 'Accountants',
 'Sales staff',
 'Drivers',
 'Drivers',
 'Laborers',
 'Medicine staff',
 'Laborers',
 'Core staff',
 'Sales staff',
 'Managers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Core staff',
 'Laborers',
 'Core staff',
 'Sales staff',
 'Core staff',
 'Sales staff',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Managers',
 'Accountants',
 'Private service staff',
 'Core staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Core staff',
 'Sales staff',
 'Laborers',
 'High skill tech staff',
 'Core staff',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Secretaries',
 'Sales staff',
 'Drivers',
 'Cleaning staff',
 'Laborers',
 'Core staff',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Drivers',
 'Waiters/barmen staff',
 'Laborers',
 'High skill tech staff',
 'Core staff',
 'Cooking staff',
 'Laborers',
 'Sales staff',
 'Sales staff',
 'Sales staff',
 'Laborers',
 'Drivers',
 'Core staff',
 'Sales staff',
 'Laborers',
 'Sales staff',
 'Sales staff',
 'Sales staff',
 'Managers',
 'Laborers',
 'Medicine staff',
 'Sales staff',
 'Drivers',
 'Sales staff',
 'Core staff',
 'Cooking staff',
 'Laborers',
 'Core staff',
 'Laborers',
 'Accountants',
 'Laborers',
 'Drivers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Drivers',
 'Sales staff',
 'Drivers',
 'Laborers',
 'Laborers',
 'Cooking staff',
 'Laborers',
 'Core staff',
 'Laborers',
 'Drivers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Managers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Medicine staff',
 'Drivers',
 'Laborers',
 'Private service staff',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Managers',
 'Sales staff',
 'Laborers',
 'Cooking staff',
 'Drivers',
 'Laborers',
 'Laborers',
 'Managers',
 'Core staff',
 'Sales staff',
 'Laborers',
 'Managers',
 'Core staff',
 'Laborers',
 'Drivers',
 'Drivers',
 'Managers',
 'Medicine staff',
 'Sales staff',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Managers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Core staff',
 'Core staff',
 'Core staff',
 'Sales staff',
 'High skill tech staff',
 'Laborers',
 'Laborers',
 'Managers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Core staff',
 'Laborers',
 'Laborers',
 'Core staff',
 'Security staff',
 'Laborers',
 'Laborers',
 'Realty agents',
 'High skill tech staff',
 'Laborers',
 'High skill tech staff',
 'Laborers',
 'Laborers',
 'Drivers',
 'Laborers',
 'Laborers',
 'Core staff',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Sales staff',
 'Laborers',
 'Cleaning staff',
 'Accountants',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Sales staff',
 'Core staff',
 'Laborers',
 'Laborers',
 'Managers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Core staff',
 'Laborers',
 'Core staff',
 'Laborers',
 'Laborers',
 'Drivers',
 'High skill tech staff',
 'Sales staff',
 'Drivers',
 'High skill tech staff',
 'Sales staff',
 'Drivers',
 'Drivers',
 'Secretaries',
 'Core staff',
 'High skill tech staff',
 'Sales staff',
 'Laborers',
 'Core staff',
 'Laborers',
 'Drivers',
 'Laborers',
 'Medicine staff',
 'Cleaning staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Core staff',
 'Laborers',
 'Security staff',
 'Cleaning staff',
 'Drivers',
 'Managers',
 'Managers',
 'Medicine staff',
 'Laborers',
 'Sales staff',
 'Sales staff',
 'Core staff',
 'Sales staff',
 'Laborers',
 'Sales staff',
 'Managers',
 'High skill tech staff',
 'Laborers',
 'Core staff',
 'Managers',
 'Drivers',
 'Laborers',
 'Core staff',
 'Laborers',
 'Secretaries',
 'Sales staff',
 'Medicine staff',
 'Sales staff',
 'Sales staff',
 'Laborers',
 'High skill tech staff',
 'Laborers',
 'Sales staff',
 'Cooking staff',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Managers',
 'Core staff',
 'Drivers',
 'Core staff',
 'Laborers',
 'Drivers',
 'Sales staff',
 'Core staff',
 'Laborers',
 'Sales staff',
 'Drivers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Managers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Managers',
 'Managers',
 'Accountants',
 'Laborers',
 'Drivers',
 'Laborers',
 'Laborers',
 'IT staff',
 'Laborers',
 'Medicine staff',
 'Security staff',
 'Laborers',
 'Laborers',
 'Core staff',
 'Laborers',
 'Security staff',
 'Drivers',
 'Core staff',
 'Sales staff',
 'Sales staff',
 'Sales staff',
 'Low-skill Laborers',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Core staff',
 'Laborers',
 'Core staff',
 'Security staff',
 'Laborers',
 'Sales staff',
 'Managers',
 'Laborers',
 'Sales staff',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Low-skill Laborers',
 'Laborers',
 'Laborers',
 'Drivers',
 'Accountants',
 'Sales staff',
 'Core staff',
 'Sales staff',
 'Core staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Accountants',
 'Security staff',
 'Core staff',
 'Medicine staff',
 'Sales staff',
 'Medicine staff',
 'Laborers',
 'Sales staff',
 'Sales staff',
 'Laborers',
 'High skill tech staff',
 'Private service staff',
 'Laborers',
 'Managers',
 'Sales staff',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Core staff',
 'Laborers',
 'Managers',
 'Sales staff',
 'Drivers',
 'Laborers',
 'Cooking staff',
 'Sales staff',
 'Laborers',
 'Drivers',
 'Sales staff',
 'Sales staff',
 'Drivers',
 'Laborers',
 'Cooking staff',
 'Laborers',
 'Laborers',
 'High skill tech staff',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Drivers',
 'Accountants',
 'Laborers',
 'Laborers',
 'Cleaning staff',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Cooking staff',
 'Sales staff',
 'Realty agents',
 'Cooking staff',
 'Sales staff',
 'Drivers',
 'Laborers',
 'Core staff',
 'Laborers',
 'Security staff',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Sales staff',
 'Sales staff',
 'Laborers',
 'Core staff',
 'Security staff',
 'Laborers',
 'Sales staff',
 'High skill tech staff',
 'Core staff',
 'Core staff',
 'Laborers',
 'Core staff',
 'Laborers',
 'Sales staff',
 'Core staff',
 'Laborers',
 'Sales staff',
 'Managers',
 'Drivers',
 'Core staff',
 'Laborers',
 'High skill tech staff',
 'Core staff',
 'Laborers',
 'Sales staff',
 'Managers',
 'Security staff',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Managers',
 'Laborers',
 'Sales staff',
 'Core staff',
 'Sales staff',
 'Low-skill Laborers',
 'High skill tech staff',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Sales staff',
 'Core staff',
 'Sales staff',
 'Managers',
 'Sales staff',
 'Medicine staff',
 'Drivers',
 'Cooking staff',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Core staff',
 'Laborers',
 'IT staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'High skill tech staff',
 'Laborers',
 'Sales staff',
 'Sales staff',
 'Drivers',
 'Drivers',
 'Secretaries',
 'Drivers',
 'Core staff',
 'Security staff',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Medicine staff',
 'High skill tech staff',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Managers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Managers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Accountants',
 'Core staff',
 'Managers',
 'Managers',
 'Accountants',
 'Laborers',
 'Laborers',
 'Sales staff',
 'High skill tech staff',
 'Laborers',
 'Medicine staff',
 'Medicine staff',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Core staff',
 'Sales staff',
 'Drivers',
 'Sales staff',
 'Medicine staff',
 'Accountants',
 'Sales staff',
 'Laborers',
 'Core staff',
 'High skill tech staff',
 'Medicine staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Accountants',
 'Low-skill Laborers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Sales staff',
 'Laborers',
 'Sales staff',
 'Core staff',
 'Laborers',
 'Cleaning staff',
 'Drivers',
 'Realty agents',
 'Managers',
 'Drivers',
 'Laborers',
 'Laborers',
 'Managers',
 'Managers',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Accountants',
 'Drivers',
 'High skill tech staff',
 'Core staff',
 'Drivers',
 'Drivers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Managers',
 'Core staff',
 'Sales staff',
 'Laborers',
 'Accountants',
 'Laborers',
 'Managers',
 'Cleaning staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Core staff',
 'Sales staff',
 'Sales staff',
 'Laborers',
 'Managers',
 'Core staff',
 'Laborers',
 'Sales staff',
 'Sales staff',
 'Managers',
 'Managers',
 'Sales staff',
 'Sales staff',
 'Core staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Managers',
 'Laborers',
 'Drivers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Accountants',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Core staff',
 'Medicine staff',
 'Laborers',
 'Laborers',
 'Core staff',
 'Laborers',
 'Core staff',
 'Core staff',
 'Laborers',
 'Core staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Laborers',
 'High skill tech staff',
 'Cooking staff',
 'Laborers',
 'Drivers',
 'Managers',
 'Cooking staff',
 'Low-skill Laborers',
 'Drivers',
 'High skill tech staff',
 'Laborers',
 'Drivers',
 'Core staff',
 'Low-skill Laborers',
 'Private service staff',
 'High skill tech staff',
 'Laborers',
 'High skill tech staff',
 'Medicine staff',
 'HR staff',
 'Laborers',
 'High skill tech staff',
 'High skill tech staff',
 'Core staff',
 'Sales staff',
 'Accountants',
 'Laborers',
 'Laborers',
 'High skill tech staff',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Sales staff',
 'High skill tech staff',
 'Medicine staff',
 'Sales staff',
 'Laborers',
 'High skill tech staff',
 'HR staff',
 'Medicine staff',
 'Laborers',
 'Laborers',
 'Core staff',
 'Core staff',
 'High skill tech staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Sales staff',
 'Sales staff',
 'Laborers',
 'Medicine staff',
 'Sales staff',
 'Core staff',
 'Laborers',
 'Sales staff',
 'Cooking staff',
 'Laborers',
 'Core staff',
 'Waiters/barmen staff',
 'Core staff',
 'Managers',
 'Core staff',
 'Sales staff',
 'Laborers',
 'Drivers',
 'Medicine staff',
 'Laborers',
 'Cleaning staff',
 'Drivers',
 'Core staff',
 'Laborers',
 'Sales staff',
 'Accountants',
 'Core staff',
 'Laborers',
 'Laborers',
 'Sales staff',
 'High skill tech staff',
 'High skill tech staff',
 'Laborers',
 'Drivers',
 'Laborers',
 'Medicine staff',
 'Core staff',
 'Sales staff',
 'Core staff',
 'Sales staff',
 'Managers',
 'Sales staff',
 'Laborers',
 'Core staff',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Low-skill Laborers',
 'IT staff',
 'Laborers',
 'Core staff',
 'Sales staff',
 'High skill tech staff',
 'Sales staff',
 'Laborers',
 'Laborers',
 'High skill tech staff',
 'Laborers',
 'Sales staff',
 'Cooking staff',
 'Drivers',
 'Sales staff',
 'Sales staff',
 'Accountants',
 'Sales staff',
 'Security staff',
 'Laborers',
 'Accountants',
 'Sales staff',
 'Laborers',
 'Sales staff',
 'Sales staff',
 'Sales staff',
 'Sales staff',
 'Drivers',
 'Drivers',
 'High skill tech staff',
 'Sales staff',
 'Drivers',
 'Security staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Cooking staff',
 'Sales staff',
 'High skill tech staff',
 'Core staff',
 'Sales staff',
 'Managers',
 'Laborers',
 'Laborers',
 'Private service staff',
 'Sales staff',
 'Sales staff',
 'Sales staff',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Managers',
 'Laborers',
 'Managers',
 'Medicine staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Core staff',
 'Sales staff',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Security staff',
 'Laborers',
 'Laborers',
 'Accountants',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Low-skill Laborers',
 'Laborers',
 'Secretaries',
 'Managers',
 'Drivers',
 'Sales staff',
 'Sales staff',
 'Sales staff',
 'Sales staff',
 'Sales staff',
 'High skill tech staff',
 'Laborers',
 'Laborers',
 'High skill tech staff',
 'Laborers',
 'Laborers',
 'Core staff',
 'Sales staff',
 'Laborers',
 'Sales staff',
 'Drivers',
 'Core staff',
 'Core staff',
 'Managers',
 'Drivers',
 'Cooking staff',
 'Laborers',
 'Drivers',
 'Sales staff',
 'Sales staff',
 'Laborers',
 'Core staff',
 'Sales staff',
 'Laborers',
 'Medicine staff',
 'Drivers',
 'Sales staff',
 'Medicine staff',
 'Laborers',
 'High skill tech staff',
 'Sales staff',
 'High skill tech staff',
 'Laborers',
 'Sales staff',
 'Core staff',
 'Drivers',
 'Accountants',
 'Sales staff',
 'Sales staff',
 'Sales staff',
 'Low-skill Laborers',
 'Managers',
 'Drivers',
 'Sales staff',
 'Accountants',
 'Accountants',
 'High skill tech staff',
 'Sales staff',
 'Laborers',
 'Medicine staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Core staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Laborers',
 'Sales staff',
 'Laborers',
 'Managers',
 'Medicine staff',
 'Laborers',
 'Laborers',
 'Secretaries',
 'Core staff',
 'Laborers',
 'High skill tech staff',
 'Sales staff',
 'Core staff',
 'Laborers',
 'Drivers',
 'Sales staff',
 'Laborers',
 'Laborers',
 'Laborers',
 'Cleaning staff',
 'Laborers',
 'Managers',
 'Drivers',
 'Laborers',
 'Sales staff',
 ...]

In [103]:
application_train.loc[:, 'OCCUPATION_TYPE'] = temp_finale.loc[:, 'OCCUPATION_TYPE']

ValueError: cannot reindex from a duplicate axis

In [100]:
application_train['OCCUPATION_TYPE'] = temp_null['OCCUPATION_TYPE']

/var/folders/hf/0mp7k_vd30z8kr8nkwwh037m0000gn/T/ipykernel_96708/4076423250.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  application_train['OCCUPATION_TYPE'] = temp_null['OCCUPATION_TYPE']

In [99]:
temp_finale = temp_finale.sort_values(['SK_ID_CURR'], ascending=True)

In [76]:
temp_null

,SK_ID_CURR,NAME_FAMILY_STATUS,CODE_GENDER,DAYS_BIRTH_BIN,OCCUPATION_TYPE
0,100011,Married,F,1,Laborers
1,100015,Married,F,1,Laborers
2,100027,Married,F,1,Laborers
3,100033,Single / not married,M,4,Laborers
4,100035,Civil marriage,F,3,Sales staff
...,...,...,...,...,...
96001,456230,Civil marriage,F,2,Sales staff
96002,456231,Married,M,1,Laborers
96003,456244,Married,F,1,Laborers
96004,456249,Single / not married,F,1,Laborers
96005,456252,Widow,F,1,Laborers

In [75]:
temp_null[temp_null['OCCUPATION_TYPE'].isnull()]

,SK_ID_CURR,NAME_FAMILY_STATUS,CODE_GENDER,DAYS_BIRTH_BIN,OCCUPATION_TYPE
11182,141289,Married,XNA,1,NaN
59418,319880,Civil marriage,XNA,4,NaN

In [40]:
# gonna fill this with MODE of the combination between QCUT of DAYS_BIRTH AND NAME_FAMILY_STATUS.

temp = application_train[application_train['OCCUPATION_TYPE'].notnull()].copy()

In [44]:
(application_train['DAYS_BIRTH'] / -365).describe()

count    306219.000000
mean     43.946853
std      11.953047
min      20.517808
25%      34.021918
50%      43.167123
75%      53.931507
max      69.120548
Name: DAYS_BIRTH, dtype: float64

In [56]:
temp['DAYS_BIRTH_BIN'] = pd.qcut(temp['DAYS_BIRTH'], q=4, labels=[1,2,3,4])

In [58]:
temp = temp[['NAME_FAMILY_STATUS','CODE_GENDER','DAYS_BIRTH_BIN','OCCUPATION_TYPE']].groupby(['CODE_GENDER','NAME_FAMILY_STATUS','DAYS_BIRTH_BIN'], as_index=False).agg(pd.Series.mode)

---

## Imputation using Simple-Imputer

In [9]:
example = pd.DataFrame({'col1':[1,2,3,np.nan],
             'col2':[np.nan,4,5,6]})

In [19]:
example

   col1  col2
0   1.0   NaN
1   2.0   4.0
2   3.0   5.0
3   NaN   6.0

In [11]:
from sklearn.impute import SimpleImputer

In [12]:
imputer = SimpleImputer(strategy='mean')

In [14]:
example_X = imputer.fit_transform(example)

In [18]:
pd.DataFrame(example_X,columns=['col1','col2'])

   col1  col2
0   1.0   5.0
1   2.0   4.0
2   3.0   5.0
3   2.0   6.0

In [10]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(X)
X = imputer.transform(X)
print(X)

   col1  col2
0   1.0   NaN
1   2.0   4.0
2   3.0   5.0
3   NaN   6.0

In [ ]:
prev

In [3]:
application_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,...,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,...,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,...,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
list_cols = df.columns
total_cols = len(list(df.columns))

In [34]:
list_cols[:(int(total_cols/2))]

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE',
       'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',
       'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE',
       'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE',
       'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS',
       'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
       'ORGANIZATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
       'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG',
       'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG',
       'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG',
       'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG',
       'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE',
       'YEARS_BEGINEXPLUATATION_MODE'],
      dtype='object')

In [25]:
df[list_cols[:total_cols/2]]

TypeError: slice indices must be integers or None or have an __index__ method

In [8]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,...,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,...,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,...,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
pd.options.display.max_columns = 100

In [2]:
previous_application = pd.read_csv('previous_application.csv')

In [5]:
previous_application.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,1,NaN,NaN,NaN,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
previous_application.describe()

,SK_ID_PREV,SK_ID_CURR,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,HOUR_APPR_PROCESS_START,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,DAYS_DECISION,SELLERPLACE_AREA,CNT_PAYMENT,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
count,1.670214e+06,1.670214e+06,1.297979e+06,1.670214e+06,1.670213e+06,7.743700e+05,1.284699e+06,1.670214e+06,1.670214e+06,774370.000000,5951.000000,5951.000000,1.670214e+06,1.670214e+06,1.297984e+06,997149.000000,997149.000000,997149.000000,997149.000000,997149.000000,997149.000000
mean,1.923089e+06,2.783572e+05,1.595512e+04,1.752339e+05,1.961140e+05,6.697402e+03,2.278473e+05,1.248418e+01,9.964675e-01,0.079637,0.188357,0.773503,-8.806797e+02,3.139511e+02,1.605408e+01,342209.855039,13826.269337,33767.774054,76582.403064,81992.343838,0.332570
std,5.325980e+05,1.028148e+05,1.478214e+04,2.927798e+05,3.185746e+05,2.092150e+04,3.153966e+05,3.334028e+00,5.932963e-02,0.107823,0.087671,0.100879,7.790997e+02,7.127443e+03,1.456729e+01,88916.115834,72444.869708,106857.034789,149647.415123,153303.516729,0.471134
min,1.000001e+06,1.000010e+05,0.000000e+00,0.000000e+00,0.000000e+00,-9.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,-0.000015,0.034781,0.373150,-2.922000e+03,-1.000000e+00,0.000000e+00,-2922.000000,-2892.000000,-2801.000000,-2889.000000,-2874.000000,0.000000
25%,1.461857e+06,1.893290e+05,6.321780e+03,1.872000e+04,2.416050e+04,0.000000e+00,5.084100e+04,1.000000e+01,1.000000e+00,0.000000,0.160716,0.715645,-1.300000e+03,-1.000000e+00,6.000000e+00,365243.000000,-1628.000000,-1242.000000,-1314.000000,-1270.000000,0.000000
50%,1.923110e+06,2.787145e+05,1.125000e+04,7.104600e+04,8.054100e+04,1.638000e+03,1.123200e+05,1.200000e+01,1.000000e+00,0.051605,0.189122,0.835095,-5.810000e+02,3.000000e+00,1.200000e+01,365243.000000,-831.000000,-361.000000,-537.000000,-499.000000,0.000000
75%,2.384280e+06,3.675140e+05,2.065842e+04,1.803600e+05,2.164185e+05,7.740000e+03,2.340000e+05,1.500000e+01,1.000000e+00,0.108909,0.193330,0.852537,-2.800000e+02,8.200000e+01,2.400000e+01,365243.000000,-411.000000,129.000000,-74.000000,-44.000000,1.000000
max,2.845382e+06,4.562550e+05,4.180581e+05,6.905160e+06,6.905160e+06,3.060045e+06,6.905160e+06,2.300000e+01,1.000000e+00,1.000000,1.000000,1.000000,-1.000000e+00,4.000000e+06,8.400000e+01,365243.000000,365243.000000,365243.000000,365243.000000,365243.000000,1.000000

In [2]:
application_train = pd.read_csv('application_train.csv')

In [3]:
application_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0